html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css')
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,800', rel='stylesheet')
    link(href='gg/css/main.css', rel='stylesheet')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')

    title ค้นหา #{title}
  body
    nav.navbar.navbar-dark(style="background-color: #ec5578;")
      a.navbar-brand(href="/") CoCoCar
      form.form-inline
        if(logined==true)
          a.btn.btn-outline-light.my-2.my-sm-0(href="/profile") โปรไฟร์
          a.btn.btn-outline-light.my-2.my-sm-0(href="/login/logout") ออกจากระบบ
        else
          a.btn.btn-outline-light.my-2.my-sm-0(href="/login") เข้าสู่ระบบ
          
    block content
